


body.sidebar-first .layout-sidebar-first {
	width: 30%;
	float: left;
	border: solid 1px #eaeaea;
}
body.sidebar-first .layout-content {
	width: 69%;
	float: right;
	border: solid 1px #eaeaea;
}


body.sidebar-second .layout-sidebar-second {
	width: 30%;
	float: right;
	border: solid 1px #eaeaea;
}
body.sidebar-second .layout-content {
	width: 69%;
	float: left;
	border: solid 1px #eaeaea;
}


body.two-sidebars .layout-sidebar-first {
	width: 20%;
	float: left;
}
body.two-sidebars .layout-content {
	width: 59%;
	display: inline-block; 
	border: solid 1px #eaeaea;
}

body.two-sidebars .layout-sidebar-second {
	width: 20%;
	float: right;
}


/*body.two-sidebars .layout-sidebar-first {
	width: 20%;
	float: left;
	margin-left: -80%;
}
body.two-sidebars .layout-content {
	width: 60%;
	float:left;
	margin-left:20%
}

body.two-sidebars .layout-sidebar-second {
	width: 20%;
	float: right;
}*/